<h1>Messages</h1>

<ul>
  <% @messages.each do |message| %>
    <%= content_tag(:li, class: message_class(message, current_username)) do %>
      <span class="date"><%= message.date %></span>
      <span class="subject"><%= link_to message.subject, message_path(message) %></span>
      <span class="sender"><%= message.from %></span>
    <% end %>
  <% end %>
</ul>