<ul>
  <% @messages.each do |message| %>
    <li class="message">
      <span class="date"><%= message.date.strftime("%Y-%m-%D %H:%M:%S") %></span>
      <span class="subject"><%= message.subject %></span>
      <span class="sender"><%= message.from.first %></span>
    </li>
  <% end %>
</ul>