<div class="conversation">
  <h1 class="subject"><%= @conversation.subject %></h1>
  <% @conversation.messages.each do |message| %>
    <section class="message">
      <%= render partial: "messages/message", object: message %>
    </section>
  <% end %>
</div>