body {
  padding-top: 70px;
}

ul#messages {
  list-style: none;
  margin-left: 0;
}
.icon-flag {
  margin-left: -18px;
}
.message.sent-or-received .icon-flag {
  display: none;
}

.navbar-search label {
  display: none;
}

.navbar-search .submit-button {
  display: none;
}

.conversation .message .subject {
  display: none;
}