body {
  padding-top: 20px;
}

ul#messages {
  list-style: none;
  margin-left: 0;
}
.icon-flag, .icon-hand-right {
  margin-left: -18px;
}
.message.received .icon-flag {
  display: none;
}
.message.responded .icon-hand-right {
  display: none;
}