div.message {
  margin-bottom: 1.5em;

  .to {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .to, .cc {
    font-weight: bold;
  }

  .from {
    padding-left: 0.3em;
  }

  .body, .part {
    background-color: #fafafa;
    padding: 1em;
    border-top: 1px solid #eee;
    border-bottom: 4px solid #ddd;
    border-right: 3px solid #e8e8e8;
  }
}