<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sauron</title>
  <%= stylesheet_link_tag "bootstrap.min", "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
