<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sauron</title>
  <%= stylesheet_link_tag "bootstrap.min", "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <p id="session">Logged in as <span class="username"><%= current_username %></span></p>

  <%= yield %>
</div>

</body>
</html>
